ICA/Connected Services/ServiceReferenceUsuarios/Login1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Login" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ILogin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://wslogin.mikiosko.mx/Login.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://wslogin.mikiosko.mx/Login.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wslogin.mikiosko.mx/Login.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfLoginLDAP.LDAP" />
      <xsd:import schemaLocation="https://wslogin.mikiosko.mx/Login.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfLoginLDAP" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogin_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_Autenticar_InputMessage">
    <wsdl:part name="parameters" element="tns:Autenticar" />
  </wsdl:message>
  <wsdl:message name="ILogin_Autenticar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerTodosUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosUsuarios" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerTodosUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerTodosProveedores_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosProveedores" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerTodosProveedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerZonas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerZonas" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerZonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerZonasResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerTiendas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiendas" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerTiendas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTiendasResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerCategoriasSubCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCategoriasSubCategorias" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerCategoriasSubCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCategoriasSubCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetPromocionesByZona_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromocionesByZona" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetPromocionesByZona_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromocionesByZonaResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetPromocionesByTienda_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromocionesByTienda" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetPromocionesByTienda_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromocionesByTiendaResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetPromocionesDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPromocionesDetail" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetPromocionesDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPromocionesDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetTipoPromociones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoPromociones" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetTipoPromociones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTipoPromocionesResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerPeriodoPromocional_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPeriodoPromocional" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerPeriodoPromocional_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPeriodoPromocionalResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerDivisiones_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDivisiones" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerDivisiones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDivisionesResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentos" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCategorias" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerDeptoCategoriasSubCategorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDeptoCategoriasSubCategorias" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerDeptoCategoriasSubCategorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDeptoCategoriasSubCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerPromocionesByPECodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPromocionesByPECodigo" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerPromocionesByPECodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPromocionesByPECodigoResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogin">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/GetData" message="tns:ILogin_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/GetDataResponse" message="tns:ILogin_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Autenticar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/Autenticar" message="tns:ILogin_Autenticar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/AutenticarResponse" message="tns:ILogin_Autenticar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerTodosUsuarios" message="tns:ILogin_ObtenerTodosUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerTodosUsuariosResponse" message="tns:ILogin_ObtenerTodosUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosProveedores">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerTodosProveedores" message="tns:ILogin_ObtenerTodosProveedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerTodosProveedoresResponse" message="tns:ILogin_ObtenerTodosProveedores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerZonas">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerZonas" message="tns:ILogin_ObtenerZonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerZonasResponse" message="tns:ILogin_ObtenerZonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiendas">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerTiendas" message="tns:ILogin_ObtenerTiendas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerTiendasResponse" message="tns:ILogin_ObtenerTiendas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategoriasSubCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerCategoriasSubCategorias" message="tns:ILogin_ObtenerCategoriasSubCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerCategoriasSubCategoriasResponse" message="tns:ILogin_ObtenerCategoriasSubCategorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPromocionesByZona">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/GetPromocionesByZona" message="tns:ILogin_GetPromocionesByZona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/GetPromocionesByZonaResponse" message="tns:ILogin_GetPromocionesByZona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPromocionesByTienda">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/GetPromocionesByTienda" message="tns:ILogin_GetPromocionesByTienda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/GetPromocionesByTiendaResponse" message="tns:ILogin_GetPromocionesByTienda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPromocionesDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/GetPromocionesDetail" message="tns:ILogin_GetPromocionesDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/GetPromocionesDetailResponse" message="tns:ILogin_GetPromocionesDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTipoPromociones">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/GetTipoPromociones" message="tns:ILogin_GetTipoPromociones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/GetTipoPromocionesResponse" message="tns:ILogin_GetTipoPromociones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPeriodoPromocional">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerPeriodoPromocional" message="tns:ILogin_ObtenerPeriodoPromocional_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerPeriodoPromocionalResponse" message="tns:ILogin_ObtenerPeriodoPromocional_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDivisiones">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerDivisiones" message="tns:ILogin_ObtenerDivisiones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerDivisionesResponse" message="tns:ILogin_ObtenerDivisiones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerDepartamentos" message="tns:ILogin_ObtenerDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerDepartamentosResponse" message="tns:ILogin_ObtenerDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerCategorias" message="tns:ILogin_ObtenerCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerCategoriasResponse" message="tns:ILogin_ObtenerCategorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDeptoCategoriasSubCategorias">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerDeptoCategoriasSubCategorias" message="tns:ILogin_ObtenerDeptoCategoriasSubCategorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerDeptoCategoriasSubCategoriasResponse" message="tns:ILogin_ObtenerDeptoCategoriasSubCategorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPromocionesByPECodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerPromocionesByPECodigo" message="tns:ILogin_ObtenerPromocionesByPECodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerPromocionesByPECodigoResponse" message="tns:ILogin_ObtenerPromocionesByPECodigo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogin" type="tns:ILogin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autenticar">
      <soap:operation soapAction="http://tempuri.org/ILogin/Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosUsuarios">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerTodosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosProveedores">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerTodosProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerZonas">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiendas">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerTiendas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategoriasSubCategorias">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerCategoriasSubCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromocionesByZona">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetPromocionesByZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromocionesByTienda">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetPromocionesByTienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromocionesDetail">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetPromocionesDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoPromociones">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetTipoPromociones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPeriodoPromocional">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerPeriodoPromocional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDivisiones">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerDivisiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategorias">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDeptoCategoriasSubCategorias">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerDeptoCategoriasSubCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPromocionesByPECodigo">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerPromocionesByPECodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ILogin" type="tns:ILogin">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ILogin_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autenticar">
      <soap:operation soapAction="http://tempuri.org/ILogin/Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosUsuarios">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerTodosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosProveedores">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerTodosProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerZonas">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerZonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTiendas">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerTiendas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategoriasSubCategorias">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerCategoriasSubCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromocionesByZona">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetPromocionesByZona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromocionesByTienda">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetPromocionesByTienda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPromocionesDetail">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetPromocionesDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTipoPromociones">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetTipoPromociones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPeriodoPromocional">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerPeriodoPromocional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDivisiones">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerDivisiones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDepartamentos">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCategorias">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDeptoCategoriasSubCategorias">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerDeptoCategoriasSubCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPromocionesByPECodigo">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerPromocionesByPECodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="BasicHttpBinding_ILogin" binding="tns:BasicHttpBinding_ILogin">
      <soap:address location="http://wslogin.mikiosko.mx/Login.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ILogin" binding="tns:BasicHttpsBinding_ILogin">
      <soap:address location="https://wslogin.mikiosko.mx/Login.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>